In [1]:
# Test to ensure all working
print("hello world")

hello world

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
testdata = pd.read_csv('testdata.csv', engine='pyarrow')

# Store testdata as Parquet file
testdata.to_parquet('testdata.parquet', engine='pyarrow')

# Drop current testdata and reload from Parquet, dtype_backend = 'pyarrow' can be used instead of Numpy
testdata = pd.read_parquet('testdata.parquet', engine='pyarrow')

# Display the first few rows of the DataFrame
testdata.head()

   testdata1 testdata2
0          1         A
1          2         B
2          3         C
3          4         D
4          5         E